<div class='col-10 offset-1'>
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/MattW216">Matt</a>, an aspiring Web Developer currently grinding his way through <a href="http://www.thefirehoseproject.com"> The Firehose Project.</a>
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a href="http://www.thefirehoseproject.com">here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'image_fluid' %>
    </div>

    <div class='col-12 col-sm-7 offset-sm-1'>
      <h2 class="text-center">Matt Walker</h2>
      <br />
      <p>
        Matt Walker is currently working as an Applications Analyst in the Healthcare industry, but is looking to take a leap and change his career to someting more fun and exciting.
      </p>
    </div>
  </div>

</div>
